.container {
    max-width: 480px;
    margin: 40px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .btn{
        padding: 10px;
    }
}

input[type='text']{
    padding: 10px;
}