.app-header {
  display: flex;
  align-items: center;
  padding: 0 16px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  mat-icon {
    font-size: 22px;
  }
}
/* a {
  &:hover {
    opacity: 0.85;
  }
} */

  .nav-links {
  display: flex;
  gap: 10px;
  margin-left: 32px;

  a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(216, 234, 97, 0.733);
      color: rgb(165, 16, 16);
    }

    &.active {
      background-color: white;
      color: #3f51b5;
      font-weight: 600;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.menu-user-name {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
}
.main-content {
  padding-top: 64px;
}