.container{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -40px;
    }

    .fruit-img{
      width: 800px;
      border-radius: 10px;
    }