


<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
          <img src="/Images/62861.jpg" alt="Logo">
        </div>
        <div class="col-md-7">
                  <form [formGroup]="form">
                <div class="mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
                    <div class="text-danger" *ngIf="f['name'].errors?.['required'] && f['name'].touched">
                        Name is required
                    </div>
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                    <div class="text-danger" *ngIf="f['email'].errors?.['required'] && f['email'].touched">
                        Email is required
                    </div>
                </div>
                <div class="mb-3">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="mobile">
                    <div class="text-danger" *ngIf="f['mobile'].errors?.['required'] && f['mobile'].touched">
                        Mobile Number is required
                    </div>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
                     <div class="text-danger" *ngIf="f['password'].touched && f['password'].errors?.['required']">
                        Password is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword">
                     <div class="text-danger" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors?.['required']">
                        Confirm password is required.
                    </div>
                    <div class="text-danger" *ngIf="f['confirmPassword'].touched && !f['confirmPassword'].errors?.['required'] && form.errors?.['mismatch']">
                        Passwords do not match.
                    </div>
                </div>
                <div class="mb-3">
                    <button (click)="onSubmit()" class="btn btn-outline-primary form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>




























